$generic-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
$generic-border: 1px solid #f1f1f1;
$generic-bg-clr: #db4c3f;
$generic-sidebar-bg-clr: #fafafa;
$generic-dark-txt-clr: #202020;
$generic-gray-txt-clr: #828282;
$header-height: 2.75rem;
$res_375: "only screen and (min-width: 375px)";
$res_425: "only screen and (min-width: 425px)";
$res_450: "only screen and (min-width: 450px)";
$res_480: "only screen and (min-width: 480px)";
$res_500: "only screen and (min-width: 500px)";
$res_650: "only screen and (min-width: 650px)";
$res_750: "only screen and (min-width: 750px)";
$res_751: "only screen and (min-width: 751px)";
$res_768: "only screen and (min-width: 768px)";
$res_811: "only screen and (min-width: 811px)";
$res_1057: "only screen and (min-width: 1057px)";
$res_1280: "only screen and (min-width: 1280px)";
$res_1440: "only screen and (min-width: 1440px)";
$res_1550: "only screen and (min-width: 1550px)";
