@import "./AppTags";

.time__tag {
  .tag__content_wrapper {
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 0.2rem;

    & > * {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .tag__content {
    height: 100%;
    padding: 0.325rem 0.25rem;
    font-size: 0.8rem;
    color: #ce5542;
    font-weight: 700;
  }

  .tag__icon {
    height: 100%;
    padding: 0.2rem 0.25rem;
    border-left: 1px solid #ddd;
  }
}
