@import "@assets_styles/AppMixins";

.comment__tab_content {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 1px;
  }

  .comment__list {
    overflow-y: overlay;
    padding-top: 1.75rem;
  }

  .comment__input_wrapper {
    margin-top: 1.8rem;
  }
}

.comment {
  position: relative;
  margin-bottom: 2.55rem;

  &:last-child {
    margin-bottom: 1.7rem;
  }

  .commentator__avatar {
    position: absolute;
    top: 2px;
    left: 0;
  }

  .app__btn_wrapper {
    margin-right: 0.6rem;
    width: auto;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;

    &.edit__btn {
      transition-duration: 0.1s;
      transition-delay: 0;

      .icon {
        width: 22px !important;
        height: 22px !important;
      }
    }

    &.delete__btn {
      transition-duration: 0.1s;
      transition-delay: 0.1s;

      .icon {
        width: 18px !important;
        height: 18px !important;
      }
    }

    &.emotion__btn {
      transition-duration: 0.1s;
      transition-delay: 0.2s;
      .icon {
        width: 20px !important;
        height: 20px !important;
      }
    }

    &:hover {
      .btn__name_wrapper {
        background-color: transparent;
      }
    }
  }

  .comment__content_wrapper {
    padding-left: 2.5rem;

    .comment__content_header {
      display: flex;
      margin-bottom: 0.25rem;
    }

    .comment__buttons_wrapper {
      margin-left: 0.5rem;
      display: flex;
    }

    .comment__information {
      display: flex;
      align-items: center;

      .commentator__name {
        font-weight: 700;
        font-size: 0.9rem;
        margin-right: 0.3rem;
      }

      .comment__date {
        padding-top: 3px;
        font-weight: 400;
        color: $generic-gray-txt-clr;
        font-size: 0.75rem;
      }
    }

    .comment__content {
      padding-right: 1rem;
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.65;
      letter-spacing: 0.1px;
    }
  }

  &:hover {
    .app__btn_wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
